<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Yubikey Demo</title>
</head>
<body>

<h2>Yubikey Demo</h2>
<hr/>

<form class="form-class">
    <div class="row" >
        <label class="label-text">Username:</label>
        <input type="text" id="username"/>
    </div>
    <div class="row" >
        <label class="label-text">Nickname:</label>
        <input type="text" id="credentialNickname"/>
    </div>
    <div>
        <button type="button" id="register">Register new account</button>
    </div>
    <div>
        <button type="button" id="authenticate">Authenticate</button>
    </div>
    <div>
        <button type="button" id="deregister">Deregister</button>
    </div>

    <div>
        <button type="button" id="u2f-register">U2F register</button>
    </div>
    <div>
        <button type="button" id="u2f-authenticate">U2F Authenticate</button>
    </div>
</form>

<br/>

<h2>Log</h2>
<hr/>

<div class="result-class" id="message-show">

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{js/base64js-1.3.0.min.js}" ></script>
<script th:src="@{js/base64url.js}"></script>
<script th:src="@{js/webauthn.js}" ></script>
<script th:src="@{js/u2f-api.js}" ></script>
<script type="text/javascript">


    $(function () {
        $('#register').click(function () {
           register();
        });

        $('#authenticate').click(function () {
            authenticate(false);
        });

        $('#deregister').click(function () {
            deregister();
        });

        $('#u2f-register').click(function () {
            u2fStartRegister();
        });

        $('#u2f-authenticate').click(function () {
            u2fStartAuthentication();
        });

    });

    var basePath = "https://" + window.location.host;

    function showMessage(text) {
        var p = document.createElement("P");
        p.innerText = text;
        var massegeDiv = document.getElementById("message-show");
        massegeDiv.appendChild(p);
    }

    function register() {
        var username = document.getElementById("username").value;
        var credentialNickname = document.getElementById("credentialNickname").value;
        if (!username || !credentialNickname) {
            console.warn("username or nickname must.");
            showMessage("username or nickname must.");
            return;
        }
        username = username.trim();
        credentialNickname = credentialNickname.trim();
        if (username == '' || credentialNickname == '') {
            console.warn("username or nickname must.");
            showMessage("username or nickname must.");
            return;
        }
        var body = JSON.stringify({username: username, credentialNickname: credentialNickname});
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + "/register-start",
            data: body,
            success: function (data) {
                console.log("executeRegisterRequest:", data);
                var requestId = data.requestId;
                webauthn.createCredential(data.publicKeyCredentialCreationOptions).then(function (response) {
                    var credential = webauthn.responseToObject(response);
                    console.log("requestId: ", requestId);
                    console.log("credential: ", credential);
                    finishRegister(requestId, credential);
                }).catch(function (reason) {
                    console.log("register error: " + reason.code + " " + reason.message);
                    showMessage("register error: " + reason.code + " " + reason.message);
                });
            }
        });
    }

    function finishRegister(requestId, credential) {
        console.log("begin reuqest finish register, request:", requestId, credential);
        showMessage("begin reuqest finish register, request:" + JSON.stringify(credential));
        var body = JSON.stringify({
            requestId: requestId,
            credential: credential
        });
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + "/register-finish",
            data: body,
            success: function (data) {
                console.log("register result:", data);
                showMessage("register result:" + JSON.stringify(data));
            }
        });
    }

    function authenticate(isDeregister) {
        var username = document.getElementById("username").value;
        var credentialNickname = document.getElementById("credentialNickname").value;
        if (!username || !credentialNickname) {
            console.warn("username or nickname must.")
            return;
        }
        username = username.trim();
        credentialNickname = credentialNickname.trim();
        if (username == '' || credentialNickname == '') {
            console.warn("username or nickname must.")
            return;
        }
        var body = JSON.stringify({username: username});
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + '/authenticate-start',
            data: body,
            success: function (data) {
                console.log("authenticate start result:", data);
                showMessage("authenticate start result:" + JSON.stringify(data));
                var requestId = data.requestId;
                var publicKeyCredentialRequestOptions = data.publicKeyCredentialRequestOptions;
                webauthn.getAssertion(publicKeyCredentialRequestOptions)
                    .then(function (result) {
                        console.log("---------------------> isDeregister:", isDeregister);
                        var credential = webauthn.responseToObject(result);
                        finishAuthenticate(requestId, isDeregister, credential);
                    })
                    .catch(function (reason) {
                        console.log("authenticate error: " + reason.code + " " + reason.message);
                        showMessage("authenticate error: " + reason.code + " " + reason.message);
                    });
            }
        });
    }

    function finishAuthenticate(requestId, isDeregister, credential) {
        var message = isDeregister ? "deregister" : "authenticate";
        console.log("begin reuqest finish "+ message +", request:", requestId, isDeregister, credential);
        showMessage("begin reuqest finish "+ message +", request:" + JSON.stringify(credential));
        var body = JSON.stringify({
            requestId: requestId,
            deregister: isDeregister === true ? true : false,
            credential: credential
        });
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + "/authenticate-finish",
            data: body,
            success: function (data) {
                console.log(message + " result:", data);
                showMessage(message + " result:" + JSON.stringify(data));
            }
        });
    }

    function deregister() {
        authenticate(true);
    }

    // begin start u2f ----------------

    function u2fStartRegister() {
        var username = document.getElementById("username").value;
        if (!username || username == '') {
            showMessage("u2f => username or nickname must.");
            return;
        }
        var body = JSON.stringify({username: username});
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + '/u2f/startRegister',
            data: body,
            success: function (data) {
                console.log("u2f => start register info: ", data);
                var value = JSON.parse(data.data);
                showMessage("u2f => Register 请按住yubukey...");
                var appId = value.appId;
                var registerRequests = value.registerRequests;
                var registeredKeys = value.registeredKeys;
                u2f.register(
                    appId,
                    registerRequests,
                    registeredKeys,
                    function (registerResponse) {
                        console.log("u2f => start register response:{}", registerResponse);
                        if (registerResponse.errorCode) {
                            switch (registerResponse.errorCode) {
                                case 4:
                                    showMessage("u2f => 设备已经注册过，不能再注册!");
                                    break;
                                default:
                                    showMessage("u2f => U2F fail with error: " + registerResponse.errorCode);
                            }
                        } else {
                            var tokenResponse = JSON.stringify(registerResponse);
                            u2fFinishRegister(username, tokenResponse);
                        }
                    }
                );
            }
        });
    }

    function u2fFinishRegister(username, tokenResponse) {
        var body = JSON.stringify({
            username: username,
            tokenResponse: tokenResponse
        });
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + "/u2f/finishRegister",
            data: body,
            success: function (data) {
                console.log("u2f => register result:", data);
                showMessage("u2f => register result:" + JSON.stringify(data));
            }
        });
    }

    function u2fStartAuthentication() {
        var username = document.getElementById("username").value;
        if (!username || username == '')  {
            showMessage("u2f => username or nickname must.");
            return;
        }
        var body = JSON.stringify({username: username});

        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + '/u2f/startAuthentication',
            data: body,
            success: function (data) {
                console.log("u2f => start authentication info: ", data);
                var value = JSON.parse(data.data);
                showMessage("u2f => Authentication 请按住yubukey...");
                var appId = value.appId;
                var challenge = value.challenge;
                var signRequests = value.signRequests;
                u2f.sign(
                    appId,
                    challenge,
                    signRequests,
                    function (registerResponse) {
                        console.log("u2f => start authentication response:{}", registerResponse);
                        if (registerResponse.errorCode) {
                            switch (registerResponse.errorCode) {
                                case 4:
                                    showMessage("u2f => 设备还未注册！");
                                    break;
                                default:
                                    showMessage("u2f => U2F fail with error: " + registerResponse.errorCode + " "+ registerResponse.errorMessage);
                            }
                        } else {
                            var tokenResponse = JSON.stringify(registerResponse);
                            u2fFinishAuthentication(username, tokenResponse);
                        }
                    }
                )
            }
        });
    }

    function u2fFinishAuthentication(username, tokenResponse) {
        var body = JSON.stringify({
            username: username,
            tokenResponse: tokenResponse
        });
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: basePath + "/u2f/finishAuthentication",
            data: body,
            success: function (data) {
                console.log("u2f => authentication result:", data);
                showMessage("u2f => authentication result:" + JSON.stringify(data));
            }
        });
    }



</script>
</body>
</html>